#### Multiply 10 with 5, and print the result.

In [2]:
print(10*5)

50

### Divide 10 by 2, and print the result.

In [3]:
print(10/2)

5.0

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [72]:
fruit=["apple","banana","kiwi"]
if "apple" in fruit:
    print("true")

true

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [4]:
x=5
y=10
if x!=y:
    print("true")
else:
    print("false")

true

### Use the correct logical operator to check if at least one of two statements is `True`.

In [5]:
a=15
if a<17 or a>=25:
    print("true")

true

### Print the second item in the fruits list.

In [18]:
fruit=["apple","banana","kiwi"]
x=fruit[1]
print(x)

banana

### Change the value from "apple" to "kiwi", in the fruits list.

In [22]:
fruit=["apple","banana"]
fruit[0]="kiwi"
print(fruit)

['kiwi', 'banana']

### Use the append method to add "orange" to the fruits list.

In [50]:
fruit=["apple","banana"]
fruit.append("orange")
print(fruit)

['apple', 'banana', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [60]:
fruit=["apple","banana"]
fruit.insert((1),"orange")
print(fruit)

['apple', 'orange', 'banana']

### Use the remove method to remove `"banana"` from the fruits list.

In [61]:
fruit=["apple","banana"]
fruit.remove("banana")
print(fruit)

['apple']

### Use negative indexing to print the last item in the list.

In [63]:
fruit=["apple","banana","kiwi"]
x=fruit[-1]
print(x)

kiwi

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [64]:
fruit=['apple', 'banana', 'orange','kiwi','fig']
x=fruit[2:6]
print(x)

['orange', 'kiwi', 'fig']

### Use the correct syntax to print the number of items in the list.

In [70]:
fruit=['apple', 'banana', 'orange','kiwi','fig']
x = len(fruit)
print(x)

5

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

#### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

In [87]:
numbers = [
386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
958,743, 527
]
'''i=0
while numbers[i]!=237:
    if  x%2==0:
        print(numbers[i],"even")
    else:
        print(numbers[i],"ood")
    i+=1'''


for x in numbers:
    if  x%2==0:
        print(x,"even")
    elif x==237:
        break
    else:
        print(x,"ood")

386 even
462 even
47 ood
418 even
907 ood
344 even
236 even
375 ood
823 ood
566 even
597 ood
978 even
328 even
615 ood
953 ood
345 ood
399 ood
162 even
758 even
219 ood
918 even

### Write a Python program that will accept the base and height of a triangle and compute its area.

<img src="https://www.w3resource.com/w3r_images/python-area-triangle-basic-exercise-30.png" alt="Girl in a jacket" width="500" height="600">

In [89]:
b=int(input("enter base "))
h=int(input("enter height"))
area=0.5*b*h
print("area of triangle =",area)

enter base  5
enter height 4

area of triangle = 10.0

### Sort three integers without using conditional statements

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-69.png" alt="Girl in a jacket" width="500" height="600">

In [98]:
x=int(input("enter no1."))
y=int(input("enter no2."))
z=int(input("enter no3."))
ma=max(x,y,z) 
mi=min(x,y,z)
middle = (x+y+z)-ma-mi
print("middle = ",middle)

enter no1. 3
enter no2. 8
enter no3. 7

middle =  7

### Sort three integers :using conditional statements

In [100]:
a=[1,84,65,7,8,45]
a.sort()
print(a)

[1, 7, 8, 45, 65, 84]

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

In [104]:
def seq ():
    z=[]
    y=int(input("enter length of list:"))
    for i in range(y):
          x=float(input("enter no."))
          z.append(x)
    if len(z) == len(set(z)):
        print ("false")
    else:
        print("true")
seq()

enter length of list: 5
enter no. 4
enter no. 7
enter no. 5
enter no. 2
enter no. 2

true

#### Dictionary

In [ ]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
list(dict1.keys())

['a', 'b', 'c']

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.values())

[200, 300]

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.items())

[('a', 200), ('c', 300)]

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [ ]:
sum([0,1,2,3,4,5])
sum((0,1,2,3,4,5))
sum({0,1,2,3,4,5})
sum({5:5,10:11})

15

### Python program to find the sum of all values in a dictionary

In [11]:
dict = {'a': 10, 'b': 25, 'c': 90}
total = 0
for value in dict.values():
    total += value
print("Sum of values in the dictionary:", total)

Sum of values in the dictionary: 125

### Test if all Values are Same in Dictionary

In [14]:
#don't know

### test_dict = {"Gfg": 8, "is": 5, "Best": 5}
### False

# `any`

In [ ]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 0 : True}
x = any(mydict)
print(x)

False

#### <font color='gold'>Note: When used on a dictionary, the any() function checks if any of the keys are true, not the values.</font>

### Test if vlaue input  in dictionary value

### Calculate the sum of all numbers from 0 to a given number

In [16]:
n = 10
result= (n * (n + 1)) // 2
print("Sum of numbers from 0 to", number, "is:", result)

Sum of numbers from 0 to 10 is: 55

### Find the factorial of a given number using while loop

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

In [22]:
n = 5
z=n
result = 1
while n > 1:
    result *= n
    n -= 1
print("Factorial of", z, "is:", result)

Factorial of 5 is: 120

### Use a loop to display elements from a given list present at odd index positions

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

In [40]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(1, len(my_list), 2):
    print(my_list[i], end=" ")

20 40 60 80 100

### Calculate the cube of all numbers from 1 to a given number

In [46]:
number = int(input("Enter a number: "))
print("Cubes of numbers from 1 to", number, "are:")
for num in range(1, number + 1):
    cube = num ** 3
    print(cube, end=" ")

Enter a number:  5

Cubes of numbers from 1 to 5 are:
1 8 27 64 125

### len of str in list
### ['apple', 'orange', 'cat']

In [ ]:
l = ['apple', 'orange', 'cat']
print([ len(i) for i in l])

[5, 6, 3]

### program to count number of vowels using sets in given string

In [48]:
string = input("Enter a string: ")
vowels = {'a', 'e', 'i', 'o', 'u'}
vowel_count = 0
for char in string:
    if char.lower() in vowels:
        vowel_count += 1
print("Number of vowels in the string:", vowel_count)

Enter a string:  cAt

Number of vowels in the string: 1


### Write a Python program to add an item to a tuple.

In [52]:
tuple1 = (1, 2, 3, 4, 5)
new = 6
tuple2 = tuple1 + (new,)
print("New tuple with added item:", tuple2)

New tuple with added item: (1, 2, 3, 4, 5, 6)

### Write a Python program to multiply all the items in a list.

In [54]:
list = [1, 2, 3, 4, 5]
product = 1
for num in list:
    product *= num
print("The product of all items in the list is:", product)

The product of all items in the list is: 120

### Write a Python program to get the smallest number from a list.

In [56]:
list = [4, 2, 7, 1, 9, 3]
smallest = list[0]
for num in list:
    if num < smallest:
        smallest = num
print("The smallest number in the list is:", smallest)

The smallest number in the list is: 9

### Write a Python program to get the largest number from a list.

In [58]:
list = [4, 2, 7, 1, 9, 3]
largest = list[0]
for num in list:
    if num > largest:
        largest = num
print("The largest number in the list is:", largest)

The largest number in the list is: 9

### Write a Python program to clone or copy a list

In [60]:
list1 = [1, 2, 3, 4, 5]
list2 = []
for item in list1:
    list2.append(item)
print("Original list:", list1)
print("Cloned list:", list2)

Original list: [1, 2, 3, 4, 5]
Cloned list: [1, 2, 3, 4, 5]

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [61]:
s = set([0, 1, 3, 4, 5])
remove = [1, 4] 
for item in remove:
    if item in s:
        s.remove(item)
print("Modified set after removing items:", s)

Modified set after removing items: {0, 3, 5}

### Write a Python program to find the maximum and minimum values in a set.

In [62]:
s = {10, 20, 5, 30, 15}
max = float('-inf') 
min = float('inf')  
for num in s:
    if num > max:
        max = num
    if num < min:
        min = num
print("Maximum value in the set:", max)
print("Minimum value in the set:", min)

Maximum value in the set: 30
Minimum value in the set: 5

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

In [63]:
tuple1 = ("name", "age", "city", "city")
dict1 = {}
for i in range(0, len(tuple1), 2):
    key = tuple1[i]
    value = tuple1[i + 1]
    if key in dict1:
        print("Warning: Duplicate key '{}' found. Ignoring...".format(key))
    else:
        dict1[key] = value
print("Dictionary converted from tuple:", dict1)

Dictionary converted from tuple: {'name': 'age', 'city': 'city'}

### Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [71]:
#don't know